.heading {
    text-align: center;
    position: relative;
}

.line {
    width: 100px;
    height: 2px;
    background-color: #009970;
    margin: 10px auto;
}

.logos {
    overflow: hidden;
    padding: 30px 0;
    background: #e7e7e7;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}


.logos:hover .logos-slide {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos-slide {
    margin: 10px 0px 0px 0px;
    display: inline-block;
    animation: 30s slide infinite linear;
}

.logos-slide img {
    height: 200px;
    margin: 0 40px;
}